!!! 5
html(lang="en")
  head
    title Demo: #{name}
    style
      html, body, canvas {
        margin: 0;
        padding: 0;
      }
  body
    script(src="/js/Three.js")
    script(src="/js/RequestAnimationFrame.js")

    script(src="/src/#{name}.js")
